<h1>New News item</h1>



<% if user_signed_in? %>

	<%= form_for(@announcements) do |f| %>

	  <%= f.label :title %>

	  <%= f.text_field :title, class: 'form-control' %>



	  

	  <%= f.text_area :body, rows:12, class: 'form-control' %>





		



	  

	  

	  <%= f.submit %>

	<% end %>

<% else %>

You must <%= link_to "Sign up", new_user_registration_path %> or <%= link_to "sign in", new_user_session_path %> to create a News item

<% end %>

